@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ background:#3d79ef;}

/*-------------新闻--------------------*/
.newsDetail .newsTitle{color:#232323;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-header{ background:#232323;}
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#2e66d2;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#2e66d2;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#2e66d2;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#95B5F7;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur.png);}
/*----------------------标题------------------------*/
.title-h-in h2{ color:#2e66d2;}
.w-title1 .simpline{background:#2e66d2;} 
.w-title5 h2{border-color:#2B62CD;}
.w-title7{ border-left-color:#2B62CD;}
.w-title7 .more{background-color:#2B62CD;}
.w-title15{border-color:#2e66d2;}
@media (min-width:768px){
	.w-nav .submenu{background:#2e66d2;}
    .w-nav .submenu li{ border-bottom:1px solid #3D79EF;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#232323; border-color:#555;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#2e66d2; 
color:#fff;}
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#2e66d2; color:#fff; }
}
@media (max-width:767px){
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:#2e66d2; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:#2e66d2;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-header,.body-login .w-admin-header{ background:#232323;}
    .order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel.png);}
}