@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ background:#0077B0;}
.topLogBox .w-search .search-btn-w{background-image:url("../images/header_search_white.png"); background-color:#0090D6;}
.w-logo h1, .w-logo a{color:#0090D6;}
/*----------------------组件------------------------*/
.btn-default-w{ background-color:#0090D6;}
.search-defaut-w .search-btn-w{background:url("../images/input-search-white.png") no-repeat center #0090D6;}
.icon-social{background-image:url(../images/icon-social-w-1.png);}
/*-----------------------banner------------------*/
.bx-wrapper .bx-prev{background-image:url("../images/banner_pre_white.png") !important; left:0 !important; background-position:left center !important;}
.bx-wrapper .bx-next{background-image:url("../images/banner_next_white.png") !important; right:0 !important; background-position:right center !important;}
/*-------------footer--------------------*/
.w-footer{ background-color:#0090D6;}
.w-footer .btn-default-w{ background-color:#007bbe;}
.w-footer .search-defaut-w .search-btn-w{background:url("../images/input-search-white.png") no-repeat center #007bbe;}
/*--------------------系统---------------------*/
.w-prd-list-cell .w-prd-btns a.btn-buy{background-color:#0090D6; border-color:#0090D6;}
.systitle{background-color:#007bbe;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h .news-kind,.w-adNews a.news-kind{ color:#0090D6;}
.w-News-list5 li .news-item .data-day, .w-adNews1 li .news-item .data-day{background-color:#0090D6; }
.w-adNews3, .w-adNews3 .w-adNews-imgs .adNews3prev, .w-adNews3 .w-adNews-imgs .adNews3next{background-color:#0090D6;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH h3, .w-adNews3 .w-adNews-texts li .w-adNews-textH p, .w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{color:#fff;}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#333;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../images/adNews3prev.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../images/adNews3next.png");}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#0090D6;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete_1.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#0090D6;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#0090D6;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#CAEEFF;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur_1.png);}
/*----------------------标题------------------------*/
.title-h-in h2{ color:#0090D6;}
.w-title1 span,.w-title16 span{ color:#0090D6;}
.w-title1 .simpline{background:#0090D6;}
.w-title5 h2{border-color:#0090D6;}
.w-title7{border-left-color:#0090D6;}
.w-title7 .more{background:#0090D6;}
.w-title15{border-color:#0090D6;}
@media (min-width:768px){
	.w-header{background:none;}
	.body-login .w-admin-header, .w-admin-header{background:none;}
	.topLogBox, .topLogBox a{color:#333;}
	.topLogBox .w-search .input-search-w{color:#333;}
	.w-nav{background:#0090D6;}
	.w-nav > .nav_inner > li > a, .w-nav > .nav_inner > li > .li-parent-div > a{color:#fff;}
	.w-nav .submenu{background:#0077B0; opacity:0.85; *filter:alpha(opacity=85); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);}
    .w-nav .submenu li{ border-bottom:1px solid #005984;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#0090D6; border-color:#00A9FB;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#0090D6; color:#fff;}
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#0090D6; color:#fff;}
}
@media (max-width:767px){
	.w-header,.body-login .w-admin-header, .w-admin-header{background-color:#fff; box-shadow:0 0 1px rgba(0,0,0,0.1); -moz-box-shadow:0 0 1px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 1px rgba(0,0,0,0.1); color:#0090D6;}
	.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ background:#0090D6; }
	.w-com-menu >.w-com-menu-in>.ul-parent> li >.div-parent:hover a,.w-com-menu >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#0090D6; color:#fff;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-nav{background:#3d3d3d;}
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel_1.png);}
}