@charset "utf-8";
body{  background-image:url(../images/bodybg_1.jpg);}
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{  color:#fff;}
.topLogBox .w-search .search-btn-w{background-color:#24B8FF;}
/*---------------------组件------------------*/
.btn-default-w{background:#24B8FF;}
.btn-default-w:hover{background:#0090D6;transition: all 0.2s;-moz-transition: all 0.2s; -webkit-transition: all 0.2s;-o-transition: all 0.2s;}
.icon-social{background-image:url(../images/icon-social-w.png);}
.search-defaut-w .search-btn-w{background:url("../images/input-search-white.png") no-repeat center #24B8FF;}
/*---------------footer------------------*/
.w-footer{ background-image:url(../images/footbg_1.jpg); }
.w-footer-in{background-image:url(../images/footTopLine_1.png);}
/*------------------系统--------------------------*/
.systitle{background-color:#0FA0E7;}
.w-prd-list-cell .w-prd-btns a.btn-buy{background-color:#24B8FF; border-color:#24B8FF;}
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{background:#0090D6;border-color:#0090D6;transition: all 0.2s;-moz-transition: all 0.2s; -webkit-transition: all 0.2s;-o-transition: all 0.2s;}
.info_tab li.cur_tab,.evalInfo .evalInfo-title .evalInfo-title-inner{background-image:url(../images/bodybg_1.jpg);}
/*-------------新闻--------------------*/
.newsDetail .newsTitle{color:#000;}
.w-News-list .news-com .news-h .news-kind{ color:#000;}
.w-News-list5 li .news-item .data-day, .w-adNews1 li .news-item .data-day{background-color:#24B8FF;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#000;}
.w-adNews3{background:#24B8FF;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#24B8FF;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../images/adNews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../images/adNews3next_white.png");}
/*-----------------------会员中心和购物车--------------------*/
.body-login{background:url(../images/bodybg_1.jpg) repeat;}
.sign-content-A{ background-image:url("../images/signboxbg.png");}
.login-button-A{background-image:url("../images/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../images/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#888;}
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#24B8FF;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete_1.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#24B8FF;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#24B8FF;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#D2EEFF;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur_1.png);}
/*----------------------标题------------------------*/
.title-h-in h2{ color:#24B8FF;}
.w-title1 span,.w-title16 span{ color:#24B8FF;}
.w-title1 .simpline{background:#24B8FF;}
.w-title2{background:#fff;}
.w-title3 .title-h-in{background-image:url(../images/bodybg_1.jpg);}
.w-title5 h2{border-color:#24B8FF;}
.w-title7{ border-left-color:#24B8FF;}
.w-title7 .more{background-color:#24B8FF;}
.w-title15{border-color:#24B8FF;}
@media (min-width:960px){
	.section-user .userInfoA{width:40%;}
	.section-user .user-orderSum{width:60%;}
}
@media (min-width:768px){
	.w-shopCart i{ background-image:url(../images/shopCart_1.png);}
	.w-nav{ background-color:#24B8FF;
    background-image: -webkit-linear-gradient(bottom, #0090D6, #24B8FF);
	background-image: -moz-linear-gradient(bottom, #0090D6, #24B8FF);
	background-image: -o-linear-gradient(bottom, #0090D6, #24B8FF);
	background-image: -ms-linear-gradient(bottom, #0090D6, #24B8FF);
	background-image: linear-gradient(to top, #0090D6, #24B8FF);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#24B8FF, endColorStr=#0090D6); }
	.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ background:#24B8FF; box-shadow:0 2px 4px rgba(0,114,168,0.54) inset; -moz-box-shadow:0 2px 4px rgba(0,114,168,0.54) inset; -webkit-box-shadow:0 2px 4px rgba(0,114,168,0.54) inset; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
	.w-nav .submenu{background:#0090D6;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
    .w-nav .submenu li{ border-bottom:1px solid #00A4F2;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background: #24B8FF;}
	
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#24B8FF; border-color:#4AC5FF;}
	.w-com-menu-H{border-color:#fff;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#24B8FF; color:#fff;}
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#24B8FF; color:#fff;}
}
@media (max-width:767px){
	.w-header,.w-admin-header,.body-login .w-admin-header{background-image:url(../images/bodybg_1.jpg);}
	.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{background:#333;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:#333; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:#555;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-nav{background:#3d3d3d;}
    .order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel_1.png);}
}