@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ opacity:0.6; *filter:alpha(opacity=60); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); transition: opacity 0.2s;
-moz-transition: opacity 0.2s; /* Firefox 4 */
-webkit-transition: opacity 0.2s; /* Safari 和 Chrome */
-o-transition: opacity 0.2s; /* Opera */}

/*-------------新闻--------------------*/
.newsDetail .newsTitle{color:#232323;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#121212;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#121212;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#121212;}
/*.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#dcf1ec;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur.png);}*/
/*----------------------标题------------------------*/
.title-h-in h2{ color:#121212;}
.w-title1 span,.w-title3 span{ color:#c5c5c4;}
.w-title1 .simpline{background:#121212;}
.w-title7{ border-left-color:#121212;}
.w-title7 .more{background-color:#121212;}
@media (min-width:768px){
	.w-nav .submenu{background:#121212;}
    .w-nav .submenu li{ border-bottom:1px solid #444;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#232323; border-color:#555;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ transition: all 0.2s;
-moz-transition: all 0.2s; /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari 和 Chrome */
-o-transition: all 0.2s; /* Opera */}
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#121212; color:#fff; }
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{border-bottom:2px solid #121212;}
	/*-----------------------会员中心和购物车--------------------*/
}
@media (max-width:767px){
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:#121212; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:#121212;}
	/*-----------------------会员中心和购物车--------------------*/
    /*.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel.png);}*/
}