@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ color:#584ED8; transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s;-o-transition: all 0.2s; }
/*---------------------组件------------------*/
.btn-default-w{background:#584ED8;}
.btn-default-w:hover{background:#3F33D2;transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s;-o-transition: all 0.2s;}
.icon-social{background-image:url(../images/icon-social-w-7.png);}
.search-defaut-w .search-btn-w{background:url("../images/input-search-white.png") no-repeat center #584ED8;}
/*-------------------footer-----------------*/
.w-footer{ background:#584ED8;}
.w-footer .search-defaut-w .search-btn-w{background-color:#3F33D2;}
.w-footer .btn-default-w:hover{background-color:#3F33D2;}
/*------------------系统--------------------------*/
.systitle{background-color:#584ED8;}
.w-prd-list-cell .w-prd-btns a.btn-buy{background-color:#584ED8; border-color:#584ED8;}
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{background-color:#3F33D2; border-color:#3F33D2;transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s;-o-transition: all 0.2s;}
/*-------------新闻--------------------*/
.newsDetail .newsTitle{color:#232323;}
.w-News-list5 li .news-item .data-day, .w-adNews1 li .news-item .data-day{background-color:#584ED8;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background-color:#333;}
.w-adNews3, .w-adNews3 .w-adNews-imgs .adNews3prev, .w-adNews3 .w-adNews-imgs .adNews3next{background-color:#584ED8}
.w-adNews3 .w-adNews-texts li{border-color:#AB9EE5;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-header{ background:#fff;}
.w-admin-header .w-nav > .nav_inner > li:hover > a, .w-admin-header .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-admin-header .w-nav > .nav_inner > li.active > a, .w-admin-header .w-nav > .nav_inner > li.active > .li-parent-div > a{color:#584ED8;}
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#584ED8;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete_7.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#584ED8;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#584ED8;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#FFDFE4;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur_7.png);}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../images/login-checked-7.png");}
/*----------------------标题------------------------*/
.title-h-in h2{ color:#584ED8;}
.w-title1 .simpline{background:#584ED8;}
.w-title5 h2{border-color:#584ED8;}
.w-title7{ border-left-color:#584ED8;}
.w-title7 .more{background-color:#584ED8;}
.w-title15{border-color:#584ED8;}
@media (min-width:768px){
	.topLogBox{ background-color:#584ED8;}
	.w-nav{ border-color:#333;}
	.w-nav li a{color:#333;}
	.w-nav .submenu{background:#584ED8;}
    .w-nav .submenu li{ border-bottom:1px solid #4D42D5;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background:#3F33D2;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#4B40D5; border-color:#4337D2;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90); transition: opacity 0.2s;-moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; }
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#584ED8; color:#fff; }
	.w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{border-bottom:2px solid #584ED8; color:#584ED8;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-header .w-nav > .nav_inner > li > a, .w-admin-header .w-nav > .nav_inner > li > .li-parent-div > a{color:#333;}
	
}
@media (max-width:767px){
	.w-header,.w-admin-header,.w-logo h1, .w-logo a{color:#333;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:#584ED8; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:#584ED8;}
	.w-com-menu li> .div-parent:hover >a,.w-com-menu li.cur> .div-parent >a,.w-com-menu li> .div-parent:hover >.fa,.w-com-menu li.cur> .div-parent >.fa{color:#fff;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-header,.body-login .w-admin-header{ background:#fff;}
    .order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel_7.png);}
}