@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ color:#33d8ae;}
.btn-default-w:hover{border-color:#33d8ae; color:#fff; background-color:#33d8ae;}
.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#33D8AE;}
/*-------------新闻--------------------*/
.w-News-list .news-com .news-h .news-kind,.newsDetail .newsTitle,.w-News-list8 .news-item .news-com .news-h a.news-kind,.w-adNews .news-kind{color:#33d8af;}
/*---------------标题----------------*/
.title-h-in h2{ color:#474b54;}
.w-title1 span,.w-title16 span,.w-title3 h2{ color:#33d8af;}
.w-title1 .simpline{background:#33d8ae;}
.w-title5 h2{border-color:#33d8af;}
.w-title7{ border-left-color:#33d8af;}
.w-title7 .more{background-color:#33d8af;}
.w-title15{border-color:#33d8af;}
@media (min-width:767px){
	.w-nav .submenu{background:#33D8AF;}
    .w-nav .submenu li{ border-bottom:1px solid #69E2C5;}
	.w-nav .submenu li:last-child{border-bottom:0;}
}