@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ background:#FEDD02; color:#C63218;}
.w-admin-header .w-nav > .nav_inner > li:hover > a, .w-admin-header .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-admin-header .w-nav > .nav_inner > li.active > a, .w-admin-header .w-nav > .nav_inner > li.active > .li-parent-div > a{color:#C63218;}
.topLogBox .w-search .search-btn-w{background-color:#C63218;}
/*---------------------组件----------------------*/
.btn-default-w{ background:#C63218;}
.icon-social{background-image:url(../images/icon-social-w-6.png);}
/*-----------------banner----------------------*/
.bx-wrapper .bx-prev{background-image:url("../images/banner_pre_6.png") !important; left:0 !important; background-position:left center !important;}
.bx-wrapper .bx-next{background-image:url("../images/banner_next_6.png") !important; right:0 !important; background-position:right center !important;}
/*---------------footer------------------*/
.w-footer{ color:#fff; line-height:2;background:#C63218; }
.w-footer a{color:#fff;}
.w-footer .icon-social{background-image:url(../images/icon-social-foot-w-white.png);}
.w-footer .btn-default-w{ background:#FEDD02; color:#C63218;}
.w-footer .search-defaut-w .search-btn-w{background:url("../images/input-search-red.png") no-repeat center #FEDD02;}
/*---------------系统----------------------*/
.systitle{background:#AE2D15;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background-color:#C63218; border-color:#C63218;}
/*-------------新闻--------------------*/
.newsDetail .newsTitle{color:#C63218;}
.w-News-list .news-com .news-h .news-kind, .newsDetail .newsTitle, .w-News-list8 .news-item .news-com .news-h a.news-kind,.w-adNews a.news-kind{ color:#C63218;}
.w-News-list5 li .news-item .data-day, .w-adNews1 li .news-item .data-day{background:#C63218;}
.w-adNews3, .w-adNews3 .w-adNews-imgs .adNews3prev, .w-adNews3 .w-adNews-imgs .adNews3next{background-color:#FEDD02;}
.w-adNews3 .w-adNews-texts li{border-color:#a29018;}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#a29018; color:#333;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#333;}
/*-----------------------会员中心和购物车--------------------*/
.body-login{background:#fff;}
.sign-content-A{ background-image:url("../images/signboxbg.png");}
.login-button-A{background-image:url("../images/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../images/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#C1DA72;}
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#C63218;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete_6.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#C63218;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#C63218;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#FFF9C8;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur_6.png);}
/*----------------------标题------------------------*/
.title-h-in h2{ color:#C63218;}
.w-title1 span,.w-title16 span{ color:#C63218;}
.w-title1 .simpline{background:#C63218;}
.w-title5 h2{border-color:#C63218;}
.w-title7{ border-left-color:#C63218;}
.w-title7 .more{background-color:#C63218;}
.w-title15{border-color:#C63218;}

@media (min-width:768px){
	.w-nav{background:#C63218;}
	.w-nav .submenu{background:#C63218;}
    .w-nav .submenu li{ border-bottom:1px solid #DE381B;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background:#FEDD02; color:#C63218}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#C63218; border-color:#D8371B;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#C63218; color:#fff;}
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#C63218; color:#fff;}
}
@media (max-width:767px){
	 .w-header{background:#C63218;}
	 .w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:#C63218; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:#C63218;}
	.w-com-menu li> .div-parent:hover >a,.w-com-menu li.cur> .div-parent >a,.w-com-menu li> .div-parent:hover >.fa,.w-com-menu li.cur> .div-parent >.fa{color:#fff;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-nav{background:#3d3d3d;}
	.w-admin-header,.body-login .w-admin-header{ background:#C63218;}
    .order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel_6.png);}
}