@charset "utf-8";
.w-nav > .nav_inner > li:hover > a, .w-nav > .nav_inner > li:hover > .li-parent-div > a, .w-nav > .nav_inner > li.active > a, .w-nav > .nav_inner > li.active > .li-parent-div > a{ background:#C77F8D; color:#fff;}
.w-footer .search-defaut-w .search-btn-w{background:url("../images/input-search-white.png") no-repeat center #000;}
/*-------------新闻--------------------*/
.newsDetail .newsTitle{color:#51C4D4;}
.w-News-list .news-com .news-h .news-kind, .newsDetail .newsTitle, .w-News-list8 .news-item .news-com .news-h a.news-kind{ color:#51C4D4;}
/*-----------------------会员中心和购物车--------------------*/
.body-login{background:#fff;}
.sign-content-A{ background-image:url("../images/signboxbg.png");}
.login-button-A{background-image:url("../images/signbtnbg.png");}
.login-checkA input.checked[type="checkbox"] + label{background-image:url("../images/login-checked.png");}
.login-input-A,.login-button-A,.login-checkA label{border-color:#C1DA72;}
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#51c4d4;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.checkbox_tel input[type="checkbox"]:checked + label,.btn-greenC,.btn-greenA{background-color:#51c4d4;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#51c4d4;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#CDEFF3;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecur.png);}
/*----------------------标题------------------------*/
.title-h-in h2{ color:#51c4d4;}
.w-title1 span,.w-title16 span{ color:#51c4d4;}
.w-title1 .simpline{background:#51c4d4;}
.w-title5 h2{border-color:#51c4d4;}
.w-title7{ border-left-color:#51c4d4;}
.w-title7 .more{background-color:#51c4d4;}
.w-title15{border-color:#51c4d4;}
@media (min-width:768px){
	.w-nav .submenu{background:#C77F8D;}
    .w-nav .submenu li{ border-bottom:1px solid #D799A5;}
	.w-nav .submenu li:last-child{border-bottom:0;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent > .div-parent{ background:#51c4d4; border-color:#86D6E1;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ background:#51c4d4; color:#fff;}
    .w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ background:#51c4d4; color:#fff;}
}
@media (max-width:767px){
	 .w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:#51c4d4; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:#51c4d4;}
	.w-com-menu li> .div-parent:hover >a,.w-com-menu li.cur> .div-parent >a,.w-com-menu li> .div-parent:hover >.fa,.w-com-menu li.cur> .div-parent >.fa{color:#fff;}
	/*-----------------------会员中心和购物车--------------------*/
	.w-admin-nav{background:#3d3d3d;}
	.w-admin-header,.body-login .w-admin-header{ background:#D799A5;}
    .order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url(../images/routelinecurTel.png);}
}